<% var data = {
  title: "Заголовок | Проект",
  author: "dp",
  products: [
    {
        title: 'hero 1', 
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
        imageUrl: '1.png',
        price: 234
    },
    {
      title: 'hero 2', 
      description: 'Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc pharetra a tortor quis tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
      imageUrl: '2.png',
      price: 234 
    },
    {
      title: 'hero 3', 
      description: 'Duis efficitur erat nec eros sollicitudin, cursus tempor odio molestie. In id viverra tellus, vel imperdiet magna. Phasellus vitae convallis odio. Sed eros erat, placerat fringilla mi sed, laoreet faucibus dui. Pellentesque ut tempus risus, eu convallis nunc.',
      imageUrl: '3.png',
      price: 234 
    },
    {
      title: 'hero 4', 
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
      imageUrl: '4.png',
      price: 234 
    },
    {
      title: 'hero 5', 
      description: 'Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc pharetra a tortor quis tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
      imageUrl: '5.png',
      price: 234 
    },
    {
      title: 'hero 6', 
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
      imageUrl: '6.png',
      price: 234 
    },
    {
      title: 'hero 7', 
      description: 'Duis efficitur erat nec eros sollicitudin, cursus tempor odio molestie. In id viverra tellus, vel imperdiet magna. Phasellus vitae convallis odio. Sed eros erat, placerat fringilla mi sed, laoreet faucibus dui. Pellentesque ut tempus risus, eu convallis nunc.',
      imageUrl: '7.png',
      price: 234 
    },
    {
      title: 'hero 8', 
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
      imageUrl: '8.png',
      price: 234 
    },
    {
      title: 'hero 9', 
      description: 'Duis efficitur erat nec eros sollicitudin, cursus tempor odio molestie. In id viverra tellus, vel imperdiet magna. Phasellus vitae convallis odio. Sed eros erat, placerat fringilla mi sed, laoreet faucibus dui. Pellentesque ut tempus risus, eu convallis nunc.',
      imageUrl: '9.png',
      price: 234 
    },
    {
      title: 'hero 10', 
      description: 'Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc pharetra a tortor quis tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
      imageUrl: '10.png',
      price: 234 
    },
    {
      title: 'hero 11', 
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
      imageUrl: '11.png',
      price: 234 
    },
    {
      title: 'hero 12', 
      description: 'Duis efficitur erat nec eros sollicitudin, cursus tempor odio molestie. In id viverra tellus, vel imperdiet magna. Phasellus vitae convallis odio. Sed eros erat, placerat fringilla mi sed, laoreet faucibus dui. Pellentesque ut tempus risus, eu convallis nunc.',
      imageUrl: '12.png',
      price: 234 
    },
    {
      title: 'hero 13', 
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
      imageUrl: '13.png',
      price: 234 
    },
    {
      title: 'hero 14', 
      description: 'Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc pharetra a tortor quis tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
      imageUrl: '14.png',
      price: 234 
    },
    {
      title: 'hero 15', 
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
      imageUrl: '15.png',
      price: 234 
    },
    {
      title: 'hero 16', 
      description: 'Duis efficitur erat nec eros sollicitudin, cursus tempor odio molestie. In id viverra tellus, vel imperdiet magna. Phasellus vitae convallis odio. Sed eros erat, placerat fringilla mi sed, laoreet faucibus dui. Pellentesque ut tempus risus, eu convallis nunc.',
      imageUrl: '16.png',
      price: 234 
    },
    {
      title: 'hero 17', 
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
      imageUrl: '17.png',
      price: 234 
    },
    {
      title: 'hero 18', 
      description: 'Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc pharetra a tortor quis tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
      imageUrl: '18.png',
      price: 234 
    },
    {
      title: 'hero 19', 
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
      imageUrl: '19.png',
      price: 234 
    },
    {
      title: 'hero 20', 
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
      imageUrl: '20.png',
      price: 234 
    },
    {
      title: 'hero 21', 
      description: 'Duis efficitur erat nec eros sollicitudin, cursus tempor odio molestie. In id viverra tellus, vel imperdiet magna. Phasellus vitae convallis odio. Sed eros erat, placerat fringilla mi sed, laoreet faucibus dui. Pellentesque ut tempus risus, eu convallis nunc.',
      imageUrl: '21.png',
      price: 234 
    },
    {
      title: 'hero 22', 
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
      imageUrl: '22.png',
      price: 234 
    },
    {
      title: 'hero 23', 
      description: 'Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc pharetra a tortor quis tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
      imageUrl: '23.png',
      price: 234 
    },
    {
      title: 'hero 24', 
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
      imageUrl: '24.png',
      price: 234 
    },
    {
      title: 'hero 25', 
      description: 'Duis efficitur erat nec eros sollicitudin, cursus tempor odio molestie. In id viverra tellus, vel imperdiet magna. Phasellus vitae convallis odio. Sed eros erat, placerat fringilla mi sed, laoreet faucibus dui. Pellentesque ut tempus risus, eu convallis nunc.',
      imageUrl: '25.png',
      price: 234 
    },
    {
      title: 'hero 26', 
      description: 'Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc pharetra a tortor quis tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
      imageUrl: '26.png',
      price: 234 
    },
    {
      title: 'hero 27', 
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed varius elit, eget interdum ex. Integer et feugiat felis, eu ultrices velit. Curabitur vitae pharetra arcu, quis rutrum massa. Pellentesque quis tempor sapien.',
      imageUrl: '27.png',
      price: 234 
    },
    {
      title: 'hero 28', 
      description: 'Duis efficitur erat nec eros sollicitudin, cursus tempor odio molestie. In id viverra tellus, vel imperdiet magna. Phasellus vitae convallis odio. Sed eros erat, placerat fringilla mi sed, laoreet faucibus dui. Pellentesque ut tempus risus, eu convallis nunc.',
      imageUrl: '28.png',
      price: 234 
    }
  ]
  
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
  <ul class="row products" >
    <% data.products.forEach(function(item) { %>
    <li class="product">
        <div class="product__image">
            <img src='./img/<%-item.imageUrl%>'  alt="">
        </div>
        <div class="product__text">
            <div class="product__title">
                <%-item.title%>
            </div>
            <!-- <div class="product__description">
                <%-item.description%>
            </div> -->
            <div class="product__price">
              <%-item.price%>
          </div>
          <div class="button">Купить</div>
        </div>
    </li>
    <% }); %>  
  </ul>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>